
/* Tighten up space between multiple callouts */
.bs-callout {
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-right-width: 2px;
    border-radius: 3px;
}
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-5 {
    border-left-color: DarkRed;
}
.bs-callout-5 h4 {
    color: DarkRed;
}
.bs-callout-4 {
    border-left-color: IndianRed;
}
.bs-callout-4 h4 {
    color: IndianRed;
}
.bs-callout-3 {
    border-left-color: DarkGoldenrod;
}
.bs-callout-3 h4 {
    color: DarkGoldenrod;
}
.bs-callout-2 {
    border-left-color: BurlyWood;
}
.bs-callout-2 h4 {
    color: BurlyWood;
}
.bs-callout-1 {
    border-left-color: Wheat;
}
.bs-callout-1 h4 {
    color: Wheat;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.label {
    margin: 2px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 1px;
    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.taggle_list {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -2px;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.taggle_list li {
    float: left;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 1.6rem;
    position: absolute;
    top: 10px;
    right: 3px;
    text-decoration: none;
    padding: 0;
    line-height: 0.5;
    color: #ccc;
    color: rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    padding: 2px;
    padding-right: 20px;
    padding-left: 4px;
    background: #ccc;
    transition: all .3s;
}

.taggle_list .taggle:hover > .close {
    display: block;
}

.taggle_list .taggle .close:hover {
    color: #990033;
}

.taggle_placeholder {
    color: #CCC;
    top: 12px;
    left: 8px;
    transition: opacity, .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taggle_input {
    padding: 4px;
    float: left;
    margin-top: -5px;
    background: none;
    width: 100%;
    max-width: 100%;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(16, 12, 12, 0.4);
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 15px;
}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-16px)
    }

    60% {
        transform: translateY(-7px)
    }
}

.bounce {
    animation-name: bounce
}

.active > .taggle_placeholder {
    display: none !important;
}

#tagInput {
    width: 380px;
    padding: 6px 8px;
}
#filterArea {
    border: 1px solid rgba(86,61,124,.2);
    padding-bottom: 10px;
}

#order-selector-area, #visits-greater-than-area, #date-range-selector-area {
    margin-top: 25px;
}
#searchInput {
    width: 380px;
}
