
.well-sm {
    padding:3px;
}
.btn {
    padding: 3px 6px;
}
.textarea, textarea {
    width: 100%;
    border: 1px solid red;
}
.CodeMirror {
    height: 65vh;
    padding: 5px;
}
.close {
    opacity: 1;
}
.rating-xs {
    font-size: 1.5em;
}

.taggle_list {
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 300;
}

.taggle_list li {
    float: left;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 2px 8px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 1.6rem;
    position: absolute;
    text-decoration: none;
    padding: 0;
    line-height: 0.5;
    color: darkred;
    padding-bottom: 4px;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    padding: 2px;
    padding-right: 20px;
    background: #ccc;
    transition: all .2s;
}

.taggle_list .taggle:hover > .close {
    display: inline;
    margin-top:6px;
    margin-left:4px;
}

.taggle_list .taggle .close:hover {
    color: darkred;
}

.taggle_placeholder {
    position: absolute;
    color: #CCC;
    transition: opacity, .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2px;
    margin-left: 4px;
}

.taggle_input {
    padding: 4px;
    float: left;
    margin-top: -3px;
    background: none;
    width: 100%;
    max-width: 100%;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

#tag-id {
    padding: 2px;
    height: 30px;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(16, 12, 12, 0.4);
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 15px;
}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-16px)
    }

    60% {
        transform: translateY(-7px)
    }
}

.bounce {
    animation-name: bounce
}

.hide {
    display: none !important;
}
.show {
    display: block !important;
}

.main-show {
    background-clip: padding-box;
    background-color: #2F373D;
    border: 2px solid rgba(178, 186, 193, 0.6);
    border-radius: 4px;
    padding: 10px 15px 10px 10px;
    position: relative;
    height:100vh;
}
.hide-show-controller-area-show {
    margin-right: 0px;
    margin-top: -5px;
}

.hide-show-controller-area-hide {
    padding-top: 7px;
    padding-right: 20px;
}

.row {
    margin-right: -25px;
    margin-left: -25px;
}

.editor-toolbar {
    background: white;
    opacity: 1;
}
.editor-toolbar:hover {
    opacity: 1;
}
.youtube-timer-delete {

}

.youtube-timer-delete:hover {
    color: darkred;
    cursor: pointer;
}
