iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.iframe-bookmark-youtube {
    position: fixed;
    right: 2px;
    height: 570px;
    display: block;
    width: 360px;
    z-index: 9999;
    top: 90px;
}

.iframe-bookmark-default {
    position: fixed;
    right: 21px;
    height: 570px;
    display: block;
    width: 360px;
    z-index: 1000;
    top: 21px;
}
.iframe-bookmark-geeksforgeeks{
    position: fixed;
    right: 21px;
    height: 650px;
    display: block;
    width: 440px;
    z-index: 1000;
    top: 21px;
}
.iframe-bookmark-stackoverflow, .iframe-bookmark-stackexchange{
    position: fixed;
    right: 21px;
    height: 600px;
    display: block;
    width: 400px;
    z-index: 1000;
    top: 21px;
}
